# direnv
.direnv
.data

# devshell
result
result-*
.pre-commit-config.yaml

# python
*.py[cod]
__pycache__/

# dotenv
.env
.env*.local

# terraform
.terraform
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
