---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: rke2-cilium
  namespace: kube-system
spec:
  valuesContent: | #yaml
    kubeProxyReplacement: true
    k8s:
      apiServerURLs: https://10.112.8.2:6443 https://10.112.8.3:6443 https://10.112.8.4:6443

    # use native routing and enable L2 direct routing
    routingMode: native
    autoDirectNodeRoutes: true
    directRoutingSkipUnreachable: true

    # use multi-pool IPAM
    ipam:
      mode: multi-pool
      operator:
        autoCreateCiliumPodIPPools:
          # default pool is for pods without `ipam.cilium.io/ip-pool` annotation
          default:
            ipv4:
              cidrs:
                - 10.112.0.0/21
              maskSize: 24

    # the routers will does NAT if needed
    enableIPv4Masquerade: false

    loadBalancer:
      # enable DSR for TCP
      mode: hybrid
      # enable XDP (not supported due to bond0)
      # acceleration: native

    bgpControlPlane:
      enabled: true
      routerIDAllocation:
        # to avoid conflicts with BGP daemon on the host
        mode: ip-pool
        # any router ID that is unique is fine
        # here we use a subset of the pod CIDR
        ipPool: 10.112.0.0/24

    gatewayAPI:
      enabled: true
      # enable ALPN for h2 and gRPC
      enableAlpn: true

    bpf:
      # allow all vlan traffic
      vlanBypass:
        - 0
      # Note hostLegacyRouting defaults to false. As a result, netfilter is bypassed.
    hubble:
      enabled: true
      relay:
        enabled: true
      ui:
        enabled: true
