---
apiVersion: v1
kind: Namespace
metadata:
  name: gateway
---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: gateway
  namespace: gateway
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
spec:
  gatewayClassName: cilium
  listeners:
    - name: http
      protocol: HTTP
      port: 80
    - name: https
      protocol: HTTPS
      port: 443
      hostname: "*.k8s.szp.io"
      tls:
        mode: Terminate
        certificateRefs:
          - group: ""
            kind: Secret
            name: gateway-cert
      allowedRoutes:
        namespaces:
          from: All
    - name: whoami
      protocol: HTTPS
      port: 443
      hostname: whoami.szp15.com
      tls:
        mode: Terminate
        certificateRefs:
          - group: ""
            kind: Secret
            name: whoami-cert
      allowedRoutes:
        namespaces:
          from: Selector
          selector:
            matchLabels:
              kubernetes.io/metadata.name: whoami
    - name: rgw
      protocol: HTTPS
      port: 443
      hostname: s3.szp15.com
      tls:
        mode: Terminate
        certificateRefs:
          - group: ""
            kind: Secret
            name: objectstore-cert
      allowedRoutes:
        namespaces:
          from: Selector
          selector:
            matchLabels:
              kubernetes.io/metadata.name: rook-ceph
    - name: rgw-wildcard
      protocol: HTTPS
      port: 443
      hostname: "*.s3.szp15.com"
      tls:
        mode: Terminate
        certificateRefs:
          - group: ""
            kind: Secret
            name: objectstore-cert
      allowedRoutes:
        namespaces:
          from: Selector
          selector:
            matchLabels:
              kubernetes.io/metadata.name: rook-ceph
  infrastructure:
    annotations:
      lbipam.cilium.io/ips: 10.112.10.100
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: http-redirect
  namespace: gateway
spec:
  parentRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: gateway
      sectionName: http
  rules:
    - filters:
        - type: RequestRedirect
          requestRedirect:
            scheme: https
            statusCode: 301
      matches:
        - path:
            type: PathPrefix
            value: /
