# follow the guide in https://rook.io/docs/rook/latest-release/Getting-Started/Prerequisites/prerequisites/#nixos
csi:
  csiRBDPluginVolume:
    - name: lib-modules
      hostPath:
        path: /run/booted-system/kernel-modules/lib/modules/
    - name: host-nix
      hostPath:
        path: /nix

  csiRBDPluginVolumeMount:
    - name: host-nix
      mountPath: /nix
      readOnly: true

  csiCephFSPluginVolume:
    - name: lib-modules
      hostPath:
        path: /run/booted-system/kernel-modules/lib/modules/
    - name: host-nix
      hostPath:
        path: /nix

  csiCephFSPluginVolumeMount:
    - name: host-nix
      mountPath: /nix
      readOnly: true
