apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd
resources:
  - https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/ha/install.yaml

patches:
  - path: configmaps.yaml
  - patch: |
      - op: add
        path: /rules/-
        value:
          apiGroups: [""]
          resources: ["pods/exec"]
          verbs: ["create"]
    target:
      kind: ClusterRole
      name: argocd-server
